.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
h1{
    color: var(--white);
}
label{
    margin-top: 2%;
    color: var(--white);
    font-size: 1.5em;
    color:var(--extra_blue)
}
.part input{
    margin-top: 2%;
    padding: 10px;
    border: 1px solid  var(--baby);
    border-radius: 10px;
    background-color: var(--baby);
    color: var(--extra_blue);
    width: 100%;
    font-size: 1.5em;
    
}
input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}